<form [formGroup]="form" *ngIf="form" class="pt-4">
  <div class="mb-4">
    <div *ngIf="!photo" class="flex justify-center">
      <img src="assets/images/users.png" width="128px" />
    </div>
    <div *ngIf="photo" class="flex justify-center">
      <img
        [src]="
          photo.name ? api + '/files/search?name=' + photo.name : photo.data
        "
        width="128px"
        class="rounded-full"
      />
    </div>
  </div>

  <div class="mb-4">
    <div class="text-center">
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
        <mat-icon>camera_alt</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addPhoto()">
          <mat-icon>search</mat-icon>
          <span>Selecionar Foto</span>
        </button>
        <button mat-menu-item (click)="removePhoto()" *ngIf="photo">
          <mat-icon>delete</mat-icon>
          <span>Remover Foto</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="mb-4">
    <div class="grid grid-cols-1 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="hasError('name')">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="hasError('username')">{{
          getErrorMessage("username")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Senha</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="hasError('password')">{{
          getErrorMessage("password")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="department">
          <mat-option value="ADMINISTRATION">Administração</mat-option>
          <mat-option value="SUPPORT">Suporte</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('department')">{{
          getErrorMessage("department")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Situação</mat-label>
        <mat-select formControlName="enabled">
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('enabled')">{{
          getErrorMessage("enabled")
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="flex justify-end gap-4">
    <button
      class="px-8 py-2 rounded text-white bg-gray-600 hover:bg-gray-700 active:bg-gray-800"
      (click)="back()"
    >
      Voltar
    </button>
    <button
      class="px-8 py-2 rounded text-white bg-green-600 hover:bg-green-700 active:bg-green-800"
      (click)="submit()"
    >
      Salvar
    </button>
  </div>
</form>
