<form [formGroup]="form" *ngIf="form" class="overflow-hidden">

    <div class="row my-3">
        <div class="col-12">
            <div class="text-end">
                <button mat-icon-button (click)="submit()" title="Salvar" *ngIf="form.enabled">
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button (click)="cancel()" title="Cancelar" *ngIf="form.enabled">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button (click)="update()" title="Editar" *ngIf="!form.enabled">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="text-center">
                <div *ngIf="!photo">
                    <img src="assets/images/users.png" height="150px">
                </div>

                <div *ngIf="photo">
                    <img [src]="photo.name ? apiURL + '/images/search?name=' + photo.name : photo.data" height="150px" class="rounded-circle">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3" *ngIf="form.enabled">
        <div class="col-12">
            <div class="text-center">
                <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
                    <mat-icon>camera_alt</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addPhoto()">
                        <mat-icon>search</mat-icon>
                        <span>Selecionar Foto</span>
                    </button>
                    <button mat-menu-item (click)="removePhoto()" *ngIf="photo">
                        <mat-icon>delete</mat-icon>
                        <span>Remover Foto</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="department">
                    <mat-option value="ADMINISTRATION">Administração</mat-option>
                    <mat-option value="SUPPORT">Suporte</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Situação</mat-label>
                <mat-select formControlName="enabled">
                    <mat-option [value]="true">Ativo</mat-option>
                    <mat-option [value]="false">Inativo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>