<app-breadcrumbs></app-breadcrumbs>

<mat-card>
    <mat-card-content>
        <div class="mb-4">
            <h2 style="margin: 0;" class="text-center">{{hive ? hive.code : 'Cadastrar Colmeia'}}</h2>
        </div>
        
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Informações">
                <ng-template matTabContent>
                    <app-hive-informations></app-hive-informations>
                </ng-template>
            </mat-tab>
            <mat-tab label="Medições" *ngIf="hive">
                <ng-template matTabContent>
                    <app-hive-mensurations></app-hive-mensurations>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>