<app-breadcrumbs></app-breadcrumbs>

<div class="grid grid-cols-1 md:grid-cols-5 gap-4">
  <div class="link" (click)="redirectToHiveList()">
    <mat-card>
      <mat-card-content>
        <div class="mb-4">
          <div class="flex justify-center">
            <img src="assets/images/hive.png" width="96px" />
          </div>
        </div>

        <h2 style="margin: 0" class="text-center text-xl">Colmeias</h2>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="link" (click)="redirectToUserList()" *ngIf="hasRoles(['support'])">
    <mat-card>
      <mat-card-content>
        <div class="mb-4">
          <div class="flex justify-center">
            <img src="assets/images/users.png" width="96px" />
          </div>
        </div>

        <h2 style="margin: 0" class="text-center text-xl">Usuários</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>
